.bookmark {
    background-size: cover;
    background-position: center center;
    color: #FFF;
    text-align: center;
    padding: 8vh 5vw;
    position: relative;
    z-index: 0;
}
.bookmark--menu {
    background-image: url("/images/bookmarks/menu.jpg");
}
.bookmark--gallery {
    background-image: url("/images/bookmarks/gallery.jpg");
}
.bookmark--contact {
    background-image: url("/images/bookmarks/contact.jpg");
}
.bookmark--route {
    background-image: url("/images/bookmarks/route.jpg");
}
.bookmark::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}
.bookmark__header {
    font-size: 7.5em;
    margin: 0;
    text-transform: uppercase;
}
.bookmark__header::after, .bookmark__header::before {
    content: " - ";
    font-weight: normal;
}