.bookmark {
    background-image: url("/images/bookmarks/menu.jpg");
    background-size: cover;
    background-position: center center;
    color: #FFF;
    text-align: center;
    padding: 8vh 5vw;
}
.bookmark__header {
    font-size: 7.5em;
    margin: 0;
    text-transform: uppercase;
}
.bookmark__header::after, .bookmark__header::before {
    content: " - ";
    font-weight: normal;
}