.contact-form {
    background: #232e33;
    color: #FFF;
}
.contact-form__info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.contact-form__info-item {
    display: flex;
    align-items: center;
    margin: 0 30px;
}
.contact-form__info-icon {
    margin-right: 10px;
    height: 25px;
}
.contact-form__info-link {
    color: #EEE;
    text-decoration: none;
    font-size: 22px;
}
.contact-form__header {
    text-align: center;
    color: #EEE;
    margin: 0 0 50px 0;
    line-height: 1.5;
    font-size: 20px;
}