.contact-form {
    background: #232e33;
    color: #FFF;
}
.contact-form__info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.contact-form__info-item {
    display: flex;
    align-items: center;
    margin: 0 30px;
}
.contact-form__info-icon {
    margin-right: 10px;
    height: 25px;
}
.contact-form__info-link {
    color: #EEE;
    text-decoration: none;
    font-size: 22px;
}
.contact-form__header {
    text-align: center;
    color: #EEE;
    margin: 0 0 50px 0;
    line-height: 1.5;
    font-size: 20px;
}
.contact-form__fields {
    --gap: 16px;
    display: flex;
    flex-wrap: wrap;
    margin: calc(var(--gap) / -2);
}
.contact-form__field {
    width: calc(50% - var(--gap));
    margin: calc(var(--gap) / 2);
    background: transparent;
    padding: 12px;
    border: 1px solid ;
    color: #EEE;
}
.contact-form__field--full-row {
    width: calc(100% - var(--gap));
}
.contact-form__field::placeholder {
    color: #777;
    text-transform: uppercase;
}