.footer {
    background: #000;
    display: flex;
    justify-content: center;
    padding: 30px;
}
.footer__link {
    color: #FFF;
    text-decoration: none;
    display: flex;
    align-items: center;
}